.form {
    height: 500px;
    margin: 60px auto;
    width: 800px;
    
}

fieldset {
    border: 1px solid #000;
    border-radius: 5px;
    border:2px solid black;
    padding: 40px;
    font-size: 30px;

}


table {
    margin: auto;
    width: 500px;
    font-size: 30px;
}

.tdLabel {
    width: 100px;
    height: 40px;
    text-align: right;
    
}

.tdInput {
    width: 350px;
    
}

input {}
   




fieldset legend {
    font-weight: bold;
    
}
